class ApplicationPushSubscription < ActionPushWeb::Subscription
  # Customize TokenError handling (default: destroy!)
  # rescue_from (ActionPushWeb::TokenError) { Rails.logger.error("Subscription #{id} token is invalid") }
end
